.manos
{
    height: 466px;
    width: 787px;
}

.twitter-timeline
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.twitter-section {
  margin-left:10px;
  margin-right:10px;
}

.formulario
{
    
    background-color: white;
    padding: 3%;
    border-radius: 15px;
}

.regresar
{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    height: 40px;
    border-color: rgb(245, 4, 4);
    border-radius: 15px;
    background-color: blue;
    border: 15px;
}

.btnWhite {
    width: 164px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #4a1320;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #4a1320;
    outline: none;
}

.masthead2 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 5rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../assets/img/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

input {
  width: 100%;
}

textarea{
  width: 100%;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: fade-slide-up 1s 1s ease-out forwards;
  opacity: 0;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: fade-slide-up 1s 1s ease-out forwards,
             pulse 2s 3s ease-out infinite;
  opacity: 0;
}

.sidebar {
  
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}


/*.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}
*/

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.ayuda
{
  text-align: left;
}

.icon-fab
{
  color:white;
}